<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>
    <!-- Create your text area form here -->

        <!-- <label for="textarea">Movie Name Textarea:</label> -->
        <form action="/myForm" method="post">
        <textarea name = "movieName" type = "text" placeholder="Movies seperated by comma"></textarea>
        <br><br>
        <input type="submit" value="Send">
        </form>

</body>

</html>